/* Banner CTA */
.banner_cta{
    .banner_cta_inner{        
        padding-top: rem-calc(60);
        padding-bottom: rem-calc(60);
        padding-left: 10%;
        padding-right: 10%;
        border-radius: rem-calc(10);
        position: relative;
        overflow: hidden;
        @include bp(tabletmd) {            
            padding: rem-calc(50 40);
        }
        @include bp(tabletsm) {
            padding: rem-calc(40 30);
        }
        @include bp(sm) {
            padding: rem-calc(40 20);
        }
        .banner_cta_bg{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;            
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
        }
        .overlay{
            opacity: 0.65;
        }
        .banner_cta_row{
            align-items: center;
            position: relative;
            .banner_cta_left{
                h3{
                    color: $white;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 0;
                }
                h4{
                    color: $white;
                    font-weight: $normal;
                }
            }
            .banner_cta_right{
                @include bp(smmin) {
                    text-align: right;
                }
                .btn{                    
                    font-family: 'Roboto', sans-serif;
                    font-weight: $bold;
                    letter-spacing: 0;
                    margin: rem-calc(7.5);                    
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
            &.left, &.center, &.right{
                [class*='col-']{
                    flex: 100%;
                    max-width: 100%;
                    margin-bottom: rem-calc(15);
                }
            }
            &.left{
                [class*='col-']{
                    text-align: left;
                }
                .banner_cta_right{
                    text-align: left;
                }
            }
            &.center{
                [class*='col-']{
                    text-align: center;
                }
                .banner_cta_right{
                    text-align: center;
                }
            }
            &.right{
                [class*='col-']{
                    text-align: right;
                }
                .banner_cta_right{
                    text-align: right;
                }
            }
        }
    }    
}

/*.parallax-mirror{
    border-radius: 10px;
}*/