.brands_styletwo {
	.brands_title_row {
		margin-bottom: 100px;
		.brands_title {
			display: flex;
			.accent_color {
				margin: auto;

				width: 100%;
			}
		}
	}
	.brand_logo_content {
		p {
			color: #6a7074;
			font-size: 15px;
			margin-top: 20px;
		}
	}
	.link_text {
		// color: black;
		margin-top: 0px !important;
		font-size: 14px;
		i {
			font-size: 10px;
			margin-right: 5px;
			margin-top: -5px;
		}
	}
}
 