.feature_overview{
    &.inner_spacing{
		@include bp(lgmin) {
			padding: rem-calc(70 0 40);
		}
		@include bp(lg) {
			padding: rem-calc(60 0 40) !important;
		}
	}
	.feature_overview_row{
		@include bp(mdmin) {
			margin-left: rem-calc(-22.5);
			margin-right: rem-calc(-22.5);			
		}
		[class*='col-']{
			@include bp(mdmin) {				
				padding-left: rem-calc(22.5);
				padding-right: rem-calc(22.5);
			}
			@include bp(tabletsm) {
				&:last-of-type{
					.feature_overview_body{
						padding-bottom: 0;
					}
				}
			}
		}
	}
	.feature_overview_img{
		@extend .bgimage;
		border-radius: rem-calc(10);
		padding-bottom: 56.7%;
	}
	.feature_overview_body{
		padding: rem-calc(40 0 15);
		@include bp(tabletmd) {
			padding: rem-calc(30 0 15);
		}		
		h3{
			margin-bottom: rem-calc(6);
		}
	}
}


