.icon_3_col{	
	position: relative;
	overflow: hidden;
    &.inner_spacing{
		@include bp(lgmin) {
			padding: rem-calc(70 0);
		}		
	}
	.icon_col_row{		
		@include bp(smmin) {
			margin-left: -3%;
			margin-right: -3%;			
		}
		@include bp(lg) {			
			margin-left: rem-calc(-30);
			margin-right: rem-calc(-30);
		}
		@include bp(tabletsm) {		
			margin-left: rem-calc(-15);
			margin-right: rem-calc(-15);
		}
		.icon_col{
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(12);			
			margin-bottom: rem-calc(30);
			@include bp(smmin) {
				padding-left: 3%;
				padding-right: 3%;
			}
			@include bp(lg) {
				padding-left: rem-calc(30);
				padding-right: rem-calc(30);
			}
			@include bp(tabletsm) {		
				text-align: center;		
				border-top: solid rem-calc(1) #cdcdcd;	
				padding: rem-calc(30 15);
				margin-bottom: 0;
			}
			&:first-of-type{
				border: none;
			}
			&:last-of-type{
				@include bp(tabletsm) {		
					padding-bottom: 0;
				}
			}
			.icon_col_content{
				img{
					margin-bottom: rem-calc(23);
				}
				h5{
					text-transform: uppercase;
					font-weight: $bold;
					letter-spacing: rem-calc(0.7);
				}
				p{
					&:last-of-type{
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&.dividers{
		.icon_col_row{
			@include bp(smmin) {
				margin-left: -6%;
				margin-right: -6%;			
			}
			.icon_col{
				@include bp(smmin) {
					border-left: solid rem-calc(1) #cdcdcd;
					padding-left: 6%;
					padding-right: 6%;
				}
				&:first-of-type{
					border-left: none;
				}
			}
			&.listcol_2{
				@include bp(smmin) {
					.icon_col{						
						&:nth-child(odd){
							border-left: none;
						}
					}
				}
			}
			&.listcol_3{
				.icon_col{						
					@include bp(mdmin) {
						&:nth-child(3n+1){
							border-left: none;
						}
					}
					@include bp(tabletmd) {
						&:nth-child(odd){
							border-left: none;
						}
					}
				}
			}
			&.listcol_4{
				@include bp(smmin) {
					margin-left: -4%;
					margin-right: -4%;			
				}
				.icon_col{
					@include bp(lgmin) {						
						padding-left: 4%;
						padding-right: 4%;
						&:nth-child(4n+1){
							border-left: none;
						}
					}					
					@include bp(lg_mdmin) {
						-webkit-flex: 0 0 25%;
					    -ms-flex: 0 0 33.333%;
					    flex: 0 0 33.333%;
					    max-width: 33.333%;
					    &:nth-child(3n+1){
							border-left: none;
						}
					}					
					@include bp(tabletmd) {						
						&:nth-child(2n+1){
							border-left: none;
						}
					}
				}
			}
			/* .icon_col{
				@include bp(smmin) {
					border-left: solid rem-calc(1) #cdcdcd;
					padding-left: 6%;
					padding-right: 6%;
				}
				&.col-lg-3{
					@include bp(smmin) {						
						&:nth-child(4n+1){
							border-left: none;
						}
					}	
				}
				&.col-lg-4{
					@include bp(smmin) {						
						&:nth-child(3n+1){
							border-left: none;
						}
					}	
				}
				&.col-lg-6{
					@include bp(smmin) {						
						&:nth-child(odd){
							border-left: none;
						}
					}	
				}						
			} */
		}
	}
}


