.quicklinks{	
	p{		
		@include bp(mdmin) {
			font-size: rem-calc(18);
			line-height: rem-calc(26);
			margin-bottom: rem-calc(25);
		}
	}
    &.inner_spacing{
		@include bp(lgmin) {
			padding: rem-calc(70 0);
		}		
	}
	.module_title{		
		position: relative;
		margin-bottom: rem-calc(27);
		&>*{
			margin-bottom: 0;
		}
		&.underline_show{
			padding-bottom: rem-calc(15);
			@include bp(tabletsm) {
				padding-bottom: rem-calc(5);
			}
			&:before{
				content: '';
				display: inline-block;
				border-bottom: solid rem-calc(2) #0278be;
				width: rem-calc(70);
				height: rem-calc(2);
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}
	h3{
		@include bp(mdmin) {			
			font-size: rem-calc(24);
			line-height: rem-calc(34);
		}
	}
	.quicklinks_wide_col{
		@include bp(mdmin) {
			padding-right: 10%;
		}
		@include bp(tabletsm) {
			margin-bottom: rem-calc(40);
		}
		h5{
			letter-spacing: rem-calc(1.5);
			font-weight: $bold;
		}
		form{
			&.wpcf7-form{
				.wpcf7-form-control{
					border-radius: 0;
				}
			}
		}
	}
	.quicklinks_side_col{		
		.quicklinks_menu{
			margin-left: 0;
			margin-bottom: 0;
			li{
				padding-left: 0;
				border-top: solid rem-calc(1) #e7e7e7;
				&:first-child{
					border-top: none;
					a{
						padding-top: 0;
					}
				}
				&:before{
					display: none;
				}
				a{
					color: #6a7074;
					font-size: rem-calc(18);
					line-height: rem-calc(26);
					display: block;
					padding: rem-calc(20 8);
					@include bp(tabletmd) {
						font-size: rem-calc(16);
						line-height: rem-calc(24);
						padding: rem-calc(15 8);
					}
					@include bp(tabletsm) {
						font-size: rem-calc(14);
						line-height: rem-calc(20);
					}
					i{
						margin-right: rem-calc(20);
						@include bp(tabletmd) {
							margin-right: rem-calc(15);
						}
					}					
				}
			}
		}
	}
}



